<div class="my-5 d-flex justify-content-center text-center">
  <div>

    <%= render @task %>

    <%= button_to "Edit this task", edit_task_path(@task), class: 'btn btn-info my-3', method: :get %>
    <%= button_to "Back to tasks", tasks_path, class: 'btn btn-info', method: :get %>
  </div>
</div>
